.margin-5 {
  margin: 5px;
}
.margin-10 {
  margin: 10px;
}
.margin-20 {
  margin: 20px;
}
.margin-50 {
  margin: 50px;
}

.text-center {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.undecorated {
  text-decoration: none;
}

.hover-red:hover{
  color: red;
}

.hover-red a:hover{
  color: red;
}
